.Card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 300px;
  width: 250px;
  margin: 10px 25px 10px 25px; 
  padding: 10px;
  color: ghostwhite;
  background-color: #000A11;
  border-radius: 10px;
  box-shadow: 10px 10px 5px rgba(63, 195, 128, .2);
}

.Card-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  height: 100px;
  width: 100%;
  border: 1px solid ghostwhite;
}

.stats {
  display: flex;
  flex-direction: column;
}

/* p {
  margin: 10px 10px 10px 10px;
} */

button {
  height: 25px;
  width: 75px;
  border-radius: 10px;
}