/* button {
  height: 25px;
  width: 75px;
  border-radius: 10px;
} */

input {
  height: 55px;
}

.Card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 350px;
  width: 300px;
  margin: 10px 25px 10px 25px; 
  padding: 10px;
  /* color: ghostwhite; */
  color: yellow;
  background-color: rgba(0, 10, 17, .8);
  border-radius: 10px;
  /* box-shadow: 10px 10px 5px rgba(63, 195, 128, .5); */
}

.Card-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  width: 100%;
}

.Card-name {
  font-size: 28px;
  margin: 0px auto;
}

.favorite-button {
  display: flex;
  flex-direction: column;
  margin: 0px 0px 35px 0px;
}

.stats {
  display: flex;
  flex-direction: column;
  /* background-color: rgba(0, 10, 17, .1); */
}

.stats p {
  margin: 0px 0px 35px 0px;
}

.resident-list ul {
  height: 50px;
  overflow: scroll;
}

.favorited {
  color: rgba(0, 10, 17, 1);
  border: solid yellow .5px;
  /* background-color: rgba(0, 10, 17, 1); */
  background-color: yellow;
  /* box-shadow: 10px 10px 5px rgba(151, 6,217, .5) */
  box-shadow: 0px 0px 0px rgb(0,0,0);
}